
html,head,body { padding:0; margin:0; }
body { font-family: calibri, helvetica, arial, sans-serif; }

.nodebox {
  cursor: move,
  border-radius: 4px,
  position: absolute,
  color: white,
  display: flex,
  align-items: center,
  justify-content: center,
  user-select: none,
}

.nodeghost {
  opacity: 0,
  cursor: move,
  position: absolute,
  display: flex,
  user-select: none,
  z-index: 10,
}
